@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #f05;
  --secondary: #6052db;
  --neutral: #f5f5f5;
  --neutral-alt: #fff;
  --foreground: #000;
  --success: rgb(71, 224, 140);
  --warning: rgb(235, 183, 72);
  --danger: rgb(247, 38, 118);
}
