@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

:root {
  --primary: #2864ff;
  --secondary: #6052db;
  --neutral: #f3f4f9;
  --neutral-alt: #fff;
  --foreground: #111827;
  --success: rgb(71, 224, 140);
  --warning: rgb(235, 183, 72);
  --danger: rgb(247, 38, 118);
}
